<!--DETTE ER MIN HTML SIDE SOM BRUGEREN KOMMER IND PÅ NÅR DE SUCCESFULDT HAR LOGGET IND-->
<!DOCTYPE html>
<html lang="en">
<head>
<style>
body {
        background-image: url("../Images/bag.jpg");
        background-attachment: cover; 
        background-attachment: fixed; 
        background-repeat: no-repeat;
        background-size: 100% 100%;
      }
</style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div class="container">

        <div class="item">
            <a href="matches.html">Matches</a>
        </div>
        
        <div class="item">
            <a href="myMatches.html">My Matches</a>
        </div>

        <div class="item">
            <a href="updateAccount.html">Update Account</a>
        </div>
        
      </div>
      <button class="logout" id="logout" type="button" id="logout"><a href="login.html">Logout</a></button>
</body>

</html>