<!--Få denne side indenunder "sign up" knappen-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="container">

        <div class="item">
            <a href="interMatch.html">Matches</a>
        </div>
        
        <div class="item">
            <a href="myMatches.html">My Matches</a>
        </div>

        <div class="item">
            <a href="updateAccount.html">Update or Delete Account</a>
        </div>
        
      </div>
    
</body>
</html>