<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
<h2>Dating App</h2>

<!--Min sign in form-->
<div class="element">
    <form class="item" action="indsæt reference">
      <label for="userName">User Name:</label><br>
      <input type="text" id="userName" name="userName" value="User Name"><br>
      <label for="Password">Password:</label><br>
      <input type="text" id="Password" name="Password" value="Password"><br><br>
      <input type="submit" value="Login">
    </form> 
    </div>
<br>
<!--Min sign up form-->
<div class="element">
<form class="item" action="indsæt reference">
  <label for="fname">First name:</label><br>
  <input type="text" id="fname" name="fname" value="Name"><br>
  <label for="lname">Last name:</label><br>
  <input type="text" id="lname" name="lname" value="Last Name"><br>
  <label for="Age">Age</label><br>
  <input type="text" id="Age" name="Age" value="Age"><br>
  <label for="Gender">Gender</label><br>
  <input type="text" id="Gender" name="Gender" value="Gender"><br>
  <input type="submit" value="Sign Up">
</form> 
</div>

<script src="server.js"></script>
</body>
</html>