<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Matches</h1>
    <p>Click on the person, to see full picture</p>
    
<div class="gallery">
    <a target="_blank" href="dwight.jpg">
      <img src="dwight.jpg"  width="600" height="400">
    </a>
    <div class="desc">Dwight Schrute is trained in the art of surveillance and is a former Lackawanna County volunteer sheriff's deputy. He has a purple belt in Goju-Ryu karate and is the senpai at his dojo</div>
    <button type="button">Like</button>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="creed.jpg">
      <img src="creed.jpg" width="600" height="400">
    </a>
    <div class="desc">Creed Bratton is a deviant, former hippie and homeless man employed at the Scranton branch of paper distributor Dunder Mifflin as a quality assurance director.</div>
    <button type="button">Like</button>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="ryan.jpg">
      <img src="ryan.jpg" width="600" height="400">
    </a>
    <div class="desc">Stanley is a long-time worker at Dunder Mifflin; he's been divorced and has a daughter. There is a picture of his daughter hanging over his desk that Michael tends to stare at, despite the fact she's in Catholic school and only in the 8th grade.</div>
    <button type="button">Like</button>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="Meredith.jpg">
      <img src="Meredith.jpg" width="600" height="400">
    </a>
    <div class="desc">Meredith has an unfortunate habit of suffering various misadventures. She's contracted herpes, had her pelvis broken, had her hair set on fire, caught head lice, and been bitten by a bat, a rat, and a raccoon, and had to get rabies post-exposure treatment.</div>
    <button type="button">Like</button>
  </div>
    <script src="../Model/Matches/match1.js"></script>
</body>
</html>