 <!DOCTYPE html>
 <html lang="en">
 <head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Document</title>
 </head>
 <body>
<h1>Log In</h1>

  <div class="element">
      <form class="item">
        <label for="userName">User Name:</label><br>
        <input type="text" id="userName" name="userName" value="Your Mail"><br>
        <label for="Password">Password:</label><br>
        <input type="password" id="Password" name="Password" value="Password"><br><br>
        <button type="button" onclick="check()"><a href="account.html">Log In</a></button>
      </form> 
      </div>
  <br>
  <a href="signup.html" class="btn">Sign up here!</a>
  <br>
  <a href="html.html" class="btn">Or back go to frontpage</a>

  <script src="../Middleware/server.js"></script>
  <script src="../Controller/loginController.js"></script>

 </body>
 </html>


