 <!--Min sign in form-->
 <h1>Log In</h1>

<div class="element">
    <form class="item" action="indsæt reference">
      <label for="userName">User Name:</label><br>
      <input type="text" id="userName" name="userName" value="User Name"><br>
      <label for="Password">Password:</label><br>
      <input type="text" id="Password" name="Password" value="Password"><br><br>
      <button type="button" ><a href="matches.html">Log In</a></button>
    </form> 
    </div>
<br>

<!--Her skal man gøre så man kun kan logge ind hvis man har data fra LS-->

<script>
    //Get.request om data 
</script>