<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Users you can matches with</h1>
    <p>Click on the person, to see full picture</p>

    <!--Dwight Match, alt forklaret her, efterfølgende potenitelle matches følger samme kodestruktur-->
<div id="match1" class="gallery">
    <a target="_blank" href="../Images/dwight.jpg">
      <img src="../Images/dwight.jpg"  width="600" height="400">
    </a>
    <div id="match1" class="desc">Dwight Schrute is trained in the art of surveillance and is a former Lackawanna County volunteer sheriff's deputy. He has a purple belt in Goju-Ryu karate and is the senpai at his dojo</div>
    <a href="#" onclick="set()" class="btn">Like</a>
    <a href="#" onclick="delte()" class="btn">Dislike</a>
  </div>
  
  <!--Creed Bratton match-->
  <div id="match3" class="gallery">
    <a target="_blank" href="../Images/creed.jpg">
      <img src="../Images/creed.jpg" width="600" height="400">
    </a>
    <div id="match3" class="desc">Creed Bratton is a deviant, former hippie and homeless man employed at the Scranton branch of paper distributor Dunder Mifflin as a quality assurance director.</div>
    <a href="#" onclick="settwo()" class="btn">Like</a>
    <a href="#" onclick="deltetwo()" class="btn">Dislike</a>
  </div>
  
  <!--Stanley Match-->
  <div id="match4" class="gallery">
    <a target="_blank" href="../Images/ryan.jpg">
      <img src="../Images/ryan.jpg" width="600" height="400">
    </a>
    <div id="match4" class="desc">Stanley is a long-time worker at Dunder Mifflin; he's been divorced and has a daughter. There is a picture of his daughter hanging over his desk that Michael tends to stare at.</div>
    <a href="#" onclick="setthree()" class="btn">Like</a>
    <a href="#" onclick="deltethree()" class="btn">Dislike</a>
  </div>
  
  <!--Meredith Match-->
  <div id="match5" class="gallery">
    <a target="_blank" href="../Images/Meredith.jpg">
      <img src="../Images/Meredith.jpg" width="600" height="400">
    </a>
    <div id="match5" class="desc">Meredith has an unfortunate habit of suffering various misadventures. She's contracted herpes, had her pelvis broken, had her hair set on fire, and caught head lice.</div>
    <a href="#" onclick="setfour()" class="btn">Like</a>
    <a href="#" onclick="deltefour()" class="btn">Dislike</a>
  </div>

  <!--Andy Match-->
  <div id="match6" class="gallery">
    <a target="_blank" href="../Images/tob.jpg">
      <img src="../Images/tob.jpg" width="600" height="400">
    </a>
    <div id="match6" class="desc">Andy is insecure, seemingly due to a strained parental relationship. Despite this, he has been shown to act very kindly to his co-workers.</div>
    <a href="#" onclick="setfem()" class="btn">Like</a>
    <a href="#" onclick="deltefem()" class="btn">Dislike</a>
  </div>

<!--Linker til min like funktion her, -->
    <script src="../scripts/likeMatches.js"></script>
</body>
</html>