<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Matches</h1>
    <p>Click on the person, to see full picture</p>
    
<div class="gallery">
    <a target="_blank" href="../Images/dwight.jpg">
      <img src="../Images/dwight.jpg"  width="600" height="400">
    </a>
    <div class="desc">Dwight Schrute is trained in the art of surveillance and is a former Lackawanna County volunteer sheriff's deputy. He has a purple belt in Goju-Ryu karate and is the senpai at his dojo</div>
    <button type="button">Like</button>
    <button type="button">Dislike</button>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../Images/creed.jpg">
      <img src="../Images/creed.jpg" width="600" height="400">
    </a>
    <div class="desc">Creed Bratton is a deviant, former hippie and homeless man employed at the Scranton branch of paper distributor Dunder Mifflin as a quality assurance director.</div>
    <button type="button">Like</button>
    <button type="button">Dislike</button>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../Images/ryan.jpg">
      <img src="../Images/ryan.jpg" width="600" height="400">
    </a>
    <div class="desc">Stanley is a long-time worker at Dunder Mifflin; he's been divorced and has a daughter. There is a picture of his daughter hanging over his desk that Michael tends to stare at.</div>
    <button type="button">Like</button>
    <button type="button">Dislike</button>
  </div>
  
  <div class="gallery">
    <a target="_blank" href="../Images/Meredith.jpg">
      <img src="../Images/Meredith.jpg" width="600" height="400">
    </a>
    <div class="desc">Meredith has an unfortunate habit of suffering various misadventures. She's contracted herpes, had her pelvis broken, had her hair set on fire, and caught head lice.</div>
    <button type="button">Like</button>
    <button type="button">Dislike</button>
  </div>

  <div class="gallery">
    <a target="_blank" href="../Images/tob.jpg">
      <img src="../Images/tob.jpg" width="600" height="400">
    </a>
    <div class="desc">Andy is insecure, seemingly due to a strained parental relationship. Despite this, he has been shown to act very kindly to his co-workers.</div>
    <button type="button">Like</button>
    <button type="button">Dislike</button>
  </div>

  <div class="gallery">
    <a target="_blank" href="../Images/pam.jpg">
      <img src="../Images/pam.jpg" width="600" height="400">
    </a>
    <div class="desc">Pam is shy, growing assertive but amiable, and artistically inclined. Pam does not want her current job to become permanent."</div>
    <button type="button">Like</button>
    <button type="button">Dislike</button>
  </div>

<!--Linker til min like funktion her, -->
    <script src="../Controller/likematches.js"></script>
</body>
</html>