<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h style="font-size:50px; color:pink;">My Matches</h>

    <!--Dwight-->
    <div style="margin: 5px;border: 1px solid #ccc;float: left;width: 180px; width: 100%;
    height: auto;" id="match2" class="desc">
    </div>
    <script>document.getElementById("match2").innerHTML = localStorage.getItem("page_content");</script>

    <!--Creed-->
    <div style="margin: 5px;border: 1px solid #ccc;float: left;width: 180px; width: 100%;
    height: auto;" id="match4" class="desc">
    </div>
    <script>document.getElementById("match4").innerHTML = localStorage.getItem("creed_content");</script>

    <!--Stanley-->
    <div style="margin: 5px;border: 1px solid #ccc;float: left;width: 180px; width: 100%;
    height: auto;" id="match5" class="desc">
    </div>
    <script>document.getElementById("match5").innerHTML = localStorage.getItem("stanley_content");</script>

    <!--Meredith-->
    <div style="margin: 5px;border: 1px solid #ccc;float: left;width: 180px; width: 100%;
    height: auto;" id="match6" class="desc">
    </div>
    <script>document.getElementById("match6").innerHTML = localStorage.getItem("meredith_content");</script>

    <!--Andy-->
    <div style="margin: 5px;border: 1px solid #ccc;float: left;width: 180px; width: 100%;
    height: auto;" id="match7" class="desc">
    </div>
    <script>document.getElementById("match7").innerHTML = localStorage.getItem("andy_content");</script>
  

</body>
</html>