<!--Min sign up form-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Sign Up</h1>
    <p>Please fill out this form</p>
    <div class="element">
        <form class="item" action="indsæt reference">
          <label for="fname">First name:</label><br>
          <input type="text" id="fname" name="fname" value="Name"><br>
          <label for="lname">Last name:</label><br>
          <input type="text" id="lname" name="lname" value="Last Name"><br>
          <label for="mail">E-mail:</label><br>
          <input type="text" id="mail" name="mail" value="mail"><br>
          <form action="/action_page.php">
            <label for="bdaymonth">Birthday:</label>
            <input type="month" id="bdaymonth" name="bdaymonth">
          </form>
          <label for="gender">Gender</label><br>
          <input type="text" id="gender" name="gender" value="gender"><br>
          <button type="button" value="Send Data" onClick="storeData()">Submit</button>
        </form> 
        </div>
</body>
</html>

<!--Skal linke til min LoginController, her!-->

    <!-- Skal gemme i local storage, derfor:-->
    <script>
    function storeData() {
        let fname = document.getElementById("fname").value;
        let lname = document.getElementById("lname").value;
        let mail = document.getElementById("mail").value;
        let bdaymonth = document.getElementById("bdaymonth").value;
        let gender = document.getElementById("gender").value;
        //så jeg kan oprette min key, med efterfølgende value af array
        let user = {
            name: fname,
            lastName: lname,
            Birthday: bdaymonth,
            Gender: gender 
        }
        //min localestorage
        localStorage.setItem("New User",[user.name, user.lastName, user.Birthday, user.Gender]);}</script>

