<!--Min sign up form-->
<div class="element">
    <form class="item" action="indsæt reference">
      <label for="fname">First name:</label><br>
      <input type="text" id="fname" name="fname" value="Name"><br>
      <label for="lname">Last name:</label><br>
      <input type="text" id="lname" name="lname" value="Last Name"><br>
      <form action="/action_page.php">
        <label for="bdaymonth">Birthday:</label>
        <input type="month" id="bdaymonth" name="bdaymonth">
      </form>
      <label for="Gender">Gender</label><br>
      <input type="text" id="Gender" name="Gender" value="Gender"><br>
      <input type="submit" value="Sign Up">
    </form> 
    </div>

    <!-- Skal gemme i local storage, derfor:-->

    