/*for account siden*/
.container {
  display: flex;
}

.item {
  background: lightblue;
  flex-basis: 600px;
  height: 50px;
  margin: 5px;
}

/*for matches siden*/
div.gallery {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
}

div.desc {
  padding: 15px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 38%;
}

/*Selve min HTML side*/
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color:white;
  }
  
  .topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color:lightblue;
    color: white;
  }