<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Update Your Account</h1>
    <p>Update via this form</p>
    <div class="element">
        <form class="item" action="indsæt reference">
          <label for="fname">First name:</label><br>
          <input type="text" id="fname" name="fname" value="First Name"><br>
          <label for="lname">Last name:</label><br>
          <input type="text" id="lname" name="lname" value="Last Name"><br>
          <button type="button" onclick="update()" >Update</button>
          <script src="./scripts/update.js"></script>
        </form> 
        </div>
</body>
</html>